* {
  padding: 0;
  margin: 0;
}

body {
  background: yellow;
}

h1 {
  color: green;
}

.slider {
  width: 900px;
  height: 400px;
  overflow: hidden;
  border: 5px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar {
  width: 30px;
  height: 10px;
  margin: 6px;
  background: red;
  opacity: .4;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bar:hover {
  opacity: .8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input[name="hidden"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 25%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .active {
  margin-left: 0;
}

#slide2:checked ~ .active {
  margin-left: -25%;
}

#slide3:checked ~ .active {
  margin-left: -50%;
}

#slide4:checked ~ .active {
  margin-left: -75%;
}
/*# sourceMappingURL=style.css.map */